---
// src/components/TestCard.astro
import type { Product } from '../data/products';

export interface Props {
  product: Product;
}

const { product } = Astro.props;
---
<div class="border-4 border-purple-500 p-4">
  <h3 class="font-bold text-xl text-white bg-purple-700 p-2">{product.name}</h3>
  <p class="text-black dark:text-white">This is a test card. If you see this, the new component is working.</p>
</div>